/UnityProject/ObjectTest/Library
/ObjectTest/bin
/ObjectTest/obj
/CoroutineTest/obj
/CoroutineTest/bin
/DelegateTest/obj
/DelegateTest/bin
/UnityEngine/bin
/UnityEngine/obj
/UnityProject/ObjectTest/Temp
/Debug
/ipch
/NativeDllTest/Debug
/NativeDllTest/x64
/NativeDllTest_CSharp/bin
/NativeDllTest_CSharp/obj
/LearnUnity.VC.db
